[2016-02-15 23:54] ddebrunner opened #4 "Feedback for /"
At the top under "Quarks Documentation" it says:

Documentation for Quarks Project

Which is not very helpful, seems like a brief overview of what Quarks is would be useful here.

[2016-02-16 00:00] ddebrunner commented on #4
Reopened in quarks.documentation.

[2016-02-16 14:33] ddebrunner opened #6 "Enable Travis CI"
I've added a .travis.yml to try and see if Travis CI can be used.

Had to switch to the trusty beta as the default setup used Ant 1.8, while Quarks uses some 1.9 features.

Still a work in progress.

[2016-02-16 16:54] ddebrunner commented on #6
Switched back to the default container but wget Apache Ant 1.9.4 explicitly and use that.

Now it works for 'ant clean all'

[2016-02-16 17:20] dlaboss opened #7 "initial fork/clone experience w/eclipse: top level artifacts, .gitignore"
I forked quarks and used Eclipse/git to create my workspace and download a clone of my fork and import all of the projects. The top level repo artifacts like build.xml, etc don't show up in the project explorer.
Following an "ant all" there are now many untracked files reported because "/target" isn't in the .gitignore.  Ditto for /test/svt/lib.

[2016-02-16 18:56] dlaboss commented on #7
pull#9 addressed the gitignore issue.

[2016-02-16 20:00] home4slc opened #12 "Link to current committers does not work"
When browsing through the web site: http://quarks-edge.github.io/

If I go to this page:
http://quarks-edge.github.io/quarks.documentation/docs/quarks/committers/
it works, but if I go to the 'Current committers' page it does not:
1. https://github.com/orgs/quarks-edge/teams/quarkscommitters
2. On this page:
   http://quarks-edge.github.io/quarks.documentation/docs/quarks/quarks-getting-started/

[2016-02-16 20:52] ddebrunner commented on #12
Can you enter this as issues in the appropriate projects.

[2016-02-16 21:06] home4slc commented on #12
Yes, I incorrectly entered it on the wrong site.  My apologies.

[2016-02-16 21:06] #12 closed, assigned to nobody

[2016-02-16 21:17] home4slc opened #15 "Web console tooltips "jump" to the top of the page at times"
In the console for quarks, if you hover over an oplet (one of the circles) sometimes the tooltip jumps to the top of the page.
This may be due to the page refreshing the topology graph or the metric graph.

[2016-02-17 04:19] vlasov01 opened #19 "Copyright statement in Java samples"
Java samples have a header, which states the following:

[code]

I think it doesn't match the project license.

[2016-02-17 13:09] ddebrunner commented on #19
That's a copyright statement, not a licencing statement.

The code was originally developed and therefore owned by IBM.

IBM is releasing it under the Apache License Version 2.

When any code is released under the Apache License Version 2 (or any license) it still has an owner who owns the copyright and can, if they choose to, release additionally under a different license.

[2016-02-17 18:16] Kitard opened #22 "Java 8 Support - ME Or SE"
Would like to try Quarks on the IOT oriented ARM Cortex M3 / M4. Will Quarks run on Java ME? Or even SE embedded?

[2016-02-17 18:28] ddebrunner commented on #22
Testing has been on Java 8 SE.

Supporting Java ME would be good, I would expect the core code to work but haven't looked personally at ME for a long time, but maybe not the development console and JMX features.

But Quarks is modular, just use the code that is needed by the application, excluding components not needed or that are not supported on a given platform.

Anyone could help by trying to

[2016-02-17 18:30] home4slc opened #23 "Cannot rebase upstream/master"
I'm trying to create a new branch so I can work on an issue this morning, however I can not do a rebase upstream/master.

Here is what I have done so far:

  git checkout master  <-- works
  git fetch upstream <-- works
  git rebase upstream/master <-- does not work:

Susans-MacBook-Pro-247:quarks susancline$ git rebase upstream/master
First, rewinding head to replay your work on top of it...
erro

[2016-02-17 18:39] ddebrunner commented on #23
I keep a clean clone of my fork that I use for rebasing my fork from quarks-edge/quarks.
I never do any development in this clone, just rebase from the upstream and then push it back to my fork.

After that my fork says it's even with quarks-edge/quarks.

So I would try creating a clean clone of your fork and see if you can bring your fork to be even with quarks-edge/quarks.

[2016-02-17 19:01] chanskw commented on #23
I use Github Desktop and Atom Editor ... which helps with rebase and merging a lot.

[2016-02-17 19:11] jms90h5 opened #24 "Python api request"
This a fantastic new tool for embedding in edge devices.  Many analytical tools these days support access from different languages.  While Java was an obvious and logical first step I would very much like to see support added for python as well.

[2016-02-17 19:16] ddebrunner commented on #24
+1
Great idea!

[2016-02-17 20:20] bjhargrave commented on #23
This is because of a file rename which changed only the case of the file name.

[code]

You are probably using a case insensitive file system (default on OS X). Do you have `$ git config core.ignorecase` set to `true`?

[2016-02-17 20:45] dlaboss commented on #23
yup.  `git config --add core.ignorecase true` make things work for me / my mac... then saw your response.  Is it always supposed to be set?  This particular clone was created via Eclipse/git and its config lacked anything for core.ignorecase.  I looked at another clone I had for another repo, that I created manually, not via Eclipse/git, and it did have core.ignorecase=true.  I don't recall manual

[2016-02-17 20:48] bjhargrave commented on #23
I don't trust the jgit impl in Eclipse. I use command line git :-) Command line git detects case insensitive file systems during git init/clone and sets the config variable properly. I suspect jgit does not even try.

[2016-02-17 21:04] dlaboss commented on #23
I know what you mean.  I still do all my fetch/rebase from the cli.

[2016-02-17 21:08] home4slc commented on #23
I'm good now, thanks everyone.

[2016-02-17 21:08] #23 closed, assigned to nobody

[2016-02-17 22:16] vlasov01 commented on #19
Thank you for the clarification.
So under the Apache License Version 2 I can modify a file with a such copyright statement, but I need to keep a copyright statement as is. Is it correct?

[2016-02-17 22:38] ddebrunner commented on #19
I believe so, I'm not a laywer, but as far as I understand only the copyright holder (IBM in this case) can remove a copyright notice.

[2016-02-18 00:59] home4slc commented on #15
Pull request #17 resolved this.

[2016-02-18 00:59] #15 closed, assigned to home4slc

[2016-02-18 02:18] jms90h5 opened #25 "Jetty use with sample app DevelopmentSample?"
After dusting off literally decades old java experience I was able to gat a clean build of all the quarks projects on (OSX 10.11.3) and the Hello world application runs fine in Eclipse Mars 4.5.1.  However when I run the DevelopmentSample application I get the error below before the series of '.' start printing in the console. Looking at the code from that particular sample app it's not obvious to

[2016-02-18 03:37] wmarshall484 commented on #25
Thanks for the find! @home4slc @ddebrunner Do we produce a WAR file during build that didn't make it into the release for the console?

[2016-02-18 03:40] ddebrunner commented on #25
I think this is running from loading the git code into Eclipse, not from a release.

[2016-02-18 05:02] wmarshall484 commented on #25
Ah, mistyped. When built on linux, I see that the build uses /tmp/jetty-\* to generate the WAR files, and then zips the WAR to console/webapps/console.war.

When running from Eclipse after cloning, the above output is seen:

[code]

There is no war file generated, and there seems to be some issue with setting the resource base which causes the stacktrace.

[2016-02-18 05:56] kathyssaunders commented on #4
I think this page needs to be fixed as well:  http://quarks-edge.github.io/quarks.documentation/index.html

[2016-02-18 13:11] ddebrunner commented on #4
Not a code issue.

[2016-02-18 13:11] #4 closed, assigned to nobody

[2016-02-18 14:15] ddebrunner commented on #6
Runs most of the tests, additional items can be new issues.

[2016-02-18 14:15] #6 closed, assigned to ddebrunner

[2016-02-18 14:24] ddebrunner commented on #25
The issue is that the war file is only built by Ant.
When loaded into Eclipse it's just building Java code.

I guess the expected pattern for **using** the development console is you are using a release and building your own Quarks applications, not development of Quarks itself.

If anyone can provide a pull request that builds the war when using Eclipse it would be welcomed though.

[2016-02-18 14:53] jms90h5 commented on #25
Hi Dan,

So my initial plan was to use ant to build all various Quarks artifacts first, and then use the convenience of Eclipse to experiment with the various (java) sample applications such as HelloWorld and DevelopmentSample.  After the ant build I do have a ./target/java8/console/webapps/console.war file but that doesn't seem to get picked up when running the Quarks application(s) from within E

[2016-02-18 14:59] dlaboss commented on #25
A workaround that @vdogaru came up with for running a DevelopmentProvider based app in Eclipse was:

[code]

[2016-02-18 15:23] dlaboss commented on #25
woops, that `cd` above was supposed to be ``cd <quarks-home>``

[2016-02-18 15:23] jms90h5 commented on #25
Ahhh. That worked.

Although as a point of clarification where I had to put copy the webapps folder containing the console.war file was in the root of the eclipse workspace.

[2016-02-18 15:28] dlaboss commented on #25
yeah, I botched the markdown on the `cd`. sorry for the confusion.

[2016-02-18 18:26] home4slc commented on #25
I'll try to get this working for both Eclipse and from the command line.  So far my attempts are a see-saw battle - I can get it running from within Eclipse and not the command line and vice versa.

[2016-02-18 18:32] ddebrunner opened #27 "Add a generic serial port connector api"
Some devices access information through a serial port, add a generic connector interface that represents a serial port, to allow applications/libraries be written against the interface, rather than a specific implementation.

[2016-02-18 19:15] dlaboss opened #29 "Add a WebSocket connector"
Features:
- Web Socket Client
- Web Socket Server
- support binary and string payloads

pull #32 contains the proposed API

[2016-02-18 19:18] wmarshall484 commented on #29
This was requested by a number of customers at Spark Summit.

[2016-02-18 19:39] ddebrunner commented on #29
@wmarshall484 Any example usage scenarios, rather than just websockets are needed?

[2016-02-18 21:46] s-a-mcintyre commented on #25
One solution would be to add an Ant Builder to the Project. Right-click the project, choose Properties..., select Builders, click New..., choose Ant Builder, and in the dialog that comes up, select Browse Workspace to choose the build.xml from the workspace to populate the buildfile field on the Main tab, then choose the Targets tab and select the Auto Build field to have the default target 'ungre

[2016-02-18 23:12] kmarsden opened #30 "MqttOpenTest java.lang.RuntimeException: java.util.concurrent.TimeoutException"
I am running the tests and they seemed to be progressing well but then I got the error below  on MqttOpenTest testConnectRetrySub

I am guessing this is user error of some sort, but wanted to see if anyone knows the solution off hand.

I am running on Windows 7

java.lang.RuntimeException: java.util.concurrent.TimeoutException

java.util.concurrent.ExecutionException: java.lang.RuntimeException: j

[2016-02-19 01:20] mnwone commented on #30
I'm also seeing the MqttOpenTest error on Wndows.  Attaching the output file.

[TEST-quarks.test.connectors.mqtt.MqttOpenTest.xml.TXT](https://github.com/quarks-edge/quarks/files/137271/TEST-quarks.test.connectors.mqtt.MqttOpenTest.xml.TXT)

[2016-02-19 01:24] mnwone commented on #30
Also, PING test.mosquitto.org works fine.

[2016-02-19 01:55] mnwone commented on #30
Is MqttStreamsTestManual.java intended to be executed in 'ant test'?
...
at quarks.test.connectors.mqtt.MqttStreamsTestManual.testConnectRetrySub(MqttStreamsTestManual.java:916)

[2016-02-19 02:27] vlasov01 commented on #19
Thank you!

[2016-02-19 02:27] #19 closed, assigned to nobody

[2016-02-19 14:09] ddebrunner opened #31 "Sensors analytic module"
I'm proposing a new Quarks module under `analytics/sensors`

This would contain analytics that are aimed at sensor readings.

My initial contribution would be a deadband filter, other contributions would be welcome.

Here's the Javadoc comment.

[code]

A simple example use.

[code]

[2016-02-19 15:02] dlaboss commented on #30
the .TXT file indicates that most tests passes, two didn't: testMultiConnector, testConnectRetrySub with job startup timedout failures.  Are you both seeing these particular tests failing... each time it fails?  You can identify which tests fail by looking at the `<testcase` elements in the TXT and seeing which have a `<failure` child element.

Definitely not a "user error", nor test specific timi

[2016-02-19 18:14] home4slc commented on #25
I just committed merge request #34 for this.  You can now run console applications from eclipse, with the caveat that console.war must be present.
There is an error thrown if it is not present.
@s-a-mcintyre (Andrew?? :-) ) I tried to do what you said, but I was getting errors during compilation in the console/servlets package.  I chose the default target 'all', to no avail.
@jms90h5 can you try t

[2016-02-19 19:50] wmarshall484 commented on #29
@dlaboss @ddebrunner  Meant to say "potential users" not "customers".

One potential user has a chat-based social network startup. From what I understood, the chat client (nonspecific as to whether this was a phone) opens a websocket connection with a server. In addition to sending the chat messages, the client also performs sentiment analysis on the users' messages. The use case for Quarks would

[2016-02-19 19:56] home4slc commented on #31
+1
I think this would be useful.

[2016-02-19 20:02] home4slc opened #35 "DevelopmentProvider with flag to suppress metrics"
Proposition:
As I'm writing a sample console application I'd like to have control over having a Metrics counter for the  entire topology.  As far as I can tell, if I want to get the other additions in DevelopmentProvider over DirectProvider, like the JMXControlService, I need to use DevelopmentProvider.

However, at times I don't want counter metrics, but instead would like to add these to individ

[2016-02-19 20:11] ddebrunner commented on #35
Minor correction, you don't need the DevelopmentProvider for items like the JMXControlService, it's just that it starts them by default.

An application can use the DirectProvider and add in items as needed.

[2016-02-19 20:33] dlaboss commented on #35
My recollection is when auto-metric-decoration was added it was anticipated that a way to disable it would be provided.  DevelopmentProvider does a few useful things and it seems unfortunate to burden the user with having to roll it all themselves, and I believe having to drop down into using "runtime" componentry, just to avoid that feature.
+1 on a disable control :-)

[2016-02-19 20:37] home4slc commented on #35
I tried that initially, and I was having problems adding the JMXControlService.
I created a DirectProvider, and then tried to add the JMXControlService but apparently I'm having problems with my classpath, and that is why I couldn't go this route.

[2016-02-19 22:30] home4slc commented on #35
This is very odd.  When I create a new class, "SusanProvider" which is essentially a copy of DevelopmentProvider, except I leave out the override of the submit() method, my application works fine - without the counters.

However, from within my application, I use this code - which is essentially the code in the constructor of DevelopmentProvider, I can not see my job in the console.  Furthermore i

[2016-02-19 22:39] ddebrunner commented on #35
To be clear I wasn't saying that DevelopmentProvider shouldn't have options to enable or disable certain items, only pointing out that the sub-modules like JMXControlService are not dependent on DevelopmentProvider.

Currently DevelopmentProvider & DirectProvider are the two extremes, "add everything" and "add nothing".

DirectProvider should continue to be the minimum, applications can use and ad

[2016-02-19 22:40] ddebrunner commented on #35
@home4slc May be a bug, but have you tried creating the topology after creating the services?

[2016-02-19 22:53] ddebrunner commented on #31
See pull request #33

[2016-02-20 00:05] kmarsden commented on #30
testMultiConnector did not fail for me.  I actually have no <failure tags, just the <error for testConnectRetrySub.   I ran it in the Eclipse debugger and got some more output including a connection refused.  It does not pass with my firewall turned off temporarily.

***\* getCnt:1
Feb 19, 2016 4:01:53 PM quarks.connectors.runtime.Connector setStateUnsafe
INFO: MQTT af1a5151 56155281_6248_41c6_b84

[2016-02-20 00:16] home4slc commented on #35
You were spot on @ddebrunner - creating the topology after creating the services worked fine.
Thanks

[2016-02-22 16:11] home4slc commented on #19
So for new files that are added to quarks, should the IBM copyright be applied to the new file?

[2016-02-22 16:13] ddebrunner commented on #19
@home4slc - only if it's developed by someone who works for IBM.

[2016-02-22 16:14] home4slc commented on #19
@ddebrunner  - okay, thanks

[2016-02-22 16:16] ddebrunner opened #36 "Running unit tests shows many stack traces."
https://travis-ci.org/quarks-edge/quarks/builds/110987853

For clarity if a test is throwing an exception for testing it's useful to have its message include "Expected Test Exception" or similar to avoid people unfamiliar with the test wasting time trying to track down the exception.

In addition, is it needed that the trace is printed for any expected exceptions? Gives the impression there is an

[2016-02-22 16:30] wmarshall484 opened #37 "Add batch support to the Quarks windowing API"
The API changes are the following additions to TWindow<T,K>:

"<b>
TStream<B> batch(BiFunction<List<T>,K,B> batcher)
TStream<B> batch(BiFunction<List<T>,K,B> batcher, long time, TimeUnit unit)
</b>
Process a window in batches. batcher is called when a partition in this window is complete.

Once a partition in this window is complete batcher is called passing the current contents of the partition.

[2016-02-22 17:03] dlaboss commented on #37
+1 on batch support.
What are the semantics/use of `TWindow.batch(fn, time, unit)`?  The description above seems to imply that only `batch(fn)` is needed - it's used for both count (`last(N)`) and time (`last(t,unit)`) based windows.

[2016-02-22 17:08] wmarshall484 opened #38 "Add join support"
Quarks windowing still requires the following support:

// Join a TStream against a window with a certain key function
**TStream<J> join(Function<T,K> keyer, TWindow<U,K> window, BiFunction<T, List<U>, J> joiner);**

// Join the last tuple of this stream against the last tuple of another stream with partitioning
**TStream<J> joinLast(Function<? super T, ? extends K> keyer, TStream<U> lastStream, F

[2016-02-22 17:36] dlaboss commented on #38
Please add/fix the markdown - the signatures are garbled / missing generic type info so I can't quite understand them.
What's the behavior of `joinLast()` under the initial conditions where `lastStream` does not yet have a "last tuple"?
Perhaps a dumb question... The window based joins are presumably against a sliding window's contents - either count or time based.  Is there a use case for joins a

[2016-02-22 18:45] ddebrunner commented on #38
Join is a join of a tuple on one stream A with a window on another stream B.

When a tuple arrives on A the join function is called passing the tuple from A and the contents of B's window partition with the matching key at that point in time. With last if there has been no tuple on stream B for the partition key then the window partition contents would be empty.

Batch is a mechanism of processing

[2016-02-22 18:46] ddebrunner commented on #38
Not sure if we need the overloads without a key function, to be consistent with windows only having the keyed versions makes sense, since a window is always effectively partitioned.

[2016-02-22 19:05] wmarshall484 commented on #38
Markdown has been fixed, an non-keyed methods have been removed.

@dlaboss One possibility is that if you call joinLast against a TStream which doesn't have a last tuple, the **joiner** function could be passed null to indicate that no last tuple is present. The downside of this is that you then have to do null checks against every join, so other solutions/suggestions are welcome.

[2016-02-22 19:17] home4slc commented on #25
Can anyone else verify it works to run eclipse applications that use DevelopmentProvider?  I'd like to close this issue.  Reminder - console.war must be present under the webapps directory.

[2016-02-22 19:18] dlaboss commented on #38
@wmarshall484 thx.

leverage `java.util.Optional`?  ... change getLast() to `BiFunction<T,Optional<U>,J>`.  Doesn't save the checking but makes the no-data case more explicit... w/o the need for additional documentation.

nit:  `TStream.last()` names the key fn param `keyFunction`.  Should/can the API settle on a single term? (keyer or ...)?

[2016-02-22 19:19] jms90h5 commented on #25
Works fine now for me.  Thanks.

[2016-02-22 19:19] home4slc commented on #25
Thanks @jms90h5.  I'll close this.

[2016-02-22 19:19] #25 closed, assigned to home4slc

[2016-02-22 19:23] ddebrunner commented on #38
Optional is new to Java 8, thus would break Android, see DEVELOPMENT.md

[2016-02-22 19:59] wmarshall484 commented on #37
Ah, you're right. The `TWindow.batch(fn, time, unit)` is an error on my part; it shouldn't have been included. There should be three functions total related to batch support:

[code]

and

[code]

When you define a `TWindow` with `TStream.last(count, fn)` and then call `TWindow.batch(batcher)`, `batcher` will get called whenever the size of the window reaches `count`. All the tuples in the window

[2016-02-23 05:52] vdogaru opened #39 "Adding tagging at all topology levels"
Currently, TStreams can be tagged when a topology is declared.  Tags are inserted in the JSON graph representation, so the console can display tags associated with the graph elements, show streams by tag name, etc.

Application developers should have the ability to add tags at all topology levels. This requires a Tagable interface that may be implemented by children of TopologyElement:

[code]

[2016-02-23 05:56] vdogaru opened #40 "Tag naming convention"
- Each  tag has a unique name, which is a simple dotted name, like "com.myapp.MyFilter".
  This allows developers to encode context info directly into a tag's name.
- Quarks does not check a tag name for compliance to this notation rule.
  Developers are encouraged to follow this convention usage in order to avoid
  name clashes with tags generated by Quarks or other Quarks applications.
- Tags st

[2016-02-23 06:05] vdogaru opened #41 "Default system tags"
Quarks should add default tags to topology elements.  The console should use known Quarks tags to show useful information.

TBD
- _What sort of information would default tags convey?  The graph JSON representation already provides type info via the className attribute..._
- _e.g. would tags attached to a Filter propagate to the downstream reachable TStreams?_

[2016-02-23 13:47] dlaboss commented on #40
does `default` violate the Java8/Android rules?  Maybe just a `Tags` class?

[2016-02-23 18:07] home4slc opened #42 "Expose more tag information in the console"
While writing a sample application for the console I realized we need more tag support exposed in the console.  Today I noticed 3 issues opened also relating to tagging: #39 , #40 , #41 .

Here are some thoughts about how the console could be improved wrt tagging:
1. Topology graph representation: Make the color of the oplets light grey when 'View by' is set to 'Stream tags'.  Also, change the leg

[2016-02-23 18:53] dlaboss opened #43 "iotf connector and javax.servlet"
@ddebrunner what's the scoop with the presence of iotf/ext/lib/javax.servlet_3.0.0.jar?
Is that cruft from a dependency of an earlier version of com.ibm.iotf.client ?  It's not listed as a dependency on https://github.com/ibm-messaging/iot-java.
Similarly, iotf/ext/lib/com.ibm.json4j is present and it's not listed as a dependency (gson is).
Both jars are referenced in `connectors/.classpath`.  Can

[2016-02-23 19:24] ddebrunner commented on #43
I think I just put all the jars from the Iotf messaging client release into the ext/lib folder. They are probably not required, but I didn't have time to check to see which jars were required.

[2016-02-23 23:49] ddebrunner commented on #42
I'm thinking that I would tag a source stream with its sensor type, e.g. temperature, revs, speed etc.

Then from a view of the graph I can easily see which stream is which. So not so much a view by tag but the tags help me understand my flow.

[2016-02-24 15:49] dlaboss commented on #43
I ping'd iot-java https://github.com/ibm-messaging/iot-java/issues/14#issuecomment-188124832
The upshot is that they can be removed.

[2016-02-24 17:43] home4slc commented on #42
@ddebrunner - not sure I understand what you mean.  After starting to write a sample application, this is what would help me and I'm thinking it might help others.  If this is different then what you are saying let me know.
I have multiple sensors for one location / object and I tag each of those sensors identifying them as coming from the common location.  I can select view by whatever I tag each

[2016-02-24 18:22] dlaboss opened #46 "Update Kafka connector to 0.9 client jars and features"
- pickup necessary kafka-0.9 jars, update connector if/as needed, run tests
- add support to use SSL support added in 0.9 [spin off into separate issue?]
- use new client API added in 0.9 [spin off into separate issue?]

[2016-02-24 18:31] mnwone opened #47 "MqttStreamsTestManual.testConnectFail fails with java.util.concurrent.TimeoutException"
OS: Rhel7
Mosquitto 1.4.2

Start mosquitto:
From /homes/hny7/maywone/MQTT/org.eclipse.mosquitto-1.4.2
-bash-4.2$ installed/usr/local/sbin/mosquitto -v -c ~/MQTT/org.eclipse.mosquitto-1.4.2/mosquitto.conf –v

Run test:
ant -Dtest.base.pattern='**/MqttStreamsTestManual.java' test

Test run 1:
[unittests_run1.zip](https://github.com/quarks-edge/quarks/files/145191/unittests_run1.zip)
Excerpt from /ho

[2016-02-24 19:05] dlaboss opened #48 "MqttStreams/MqttDevice Connectors: add SSL support"
- update `MqttConfig` for key/trust store info
- add support to `MqttConnector`
- add test cases
- expose support from `samples/MqttClient` and `MqttSample&mqtt.properties`
- expose support from samples/apps `applicationTemplate.properties` `SensorAnalytics` sample

[2016-02-24 19:37] dlaboss commented on #47
pretty sure this is a dup of issue#30.

@vdogaru, Etiao start is timing out.   In this particular `testConnectFail()` case the test uses a bogus mqtt server url - i.e., it will never connect before the test times out.

The connector makes a blocking call to connect to the server from the `Topology.events(Consumer<Consumer<T>> eventSetup)` `eventSetup.accept(Consumer<T>)`.  Suspect that that's caus

[2016-02-24 20:12] dlaboss commented on #7
As a, hopefully temporary, workaround to make it possible to view/edit the top-level repo artifacts from Eclipse, I did the following in my workspace.
I happen to have my local git repo (~/git/quarks) separate from my workspace so this "links" hackery works:

[code]

One downside to this is that egit often seems to not notice when a top-level artifact has been modified so it doesn't show up in the

[2016-02-24 21:38] dlaboss commented on #47
see pull request #49

[2016-02-24 21:41] dlaboss commented on #30
closing as a dup of issue #49

[2016-02-24 21:41] #30 closed, assigned to nobody

[2016-02-24 23:44] vdogaru commented on #36
Yes, I agree that exceptions injected into tests should have an explanatory message.

Several tests use injected exceptions to test system behavior on handling uncaught exceptions.
From the system's perspective these exceptions are unexpected. The current behavior is to print the exception stack trace to System.err and shut down the runtime. Exceptions will be logged instead.

[2016-02-24 23:49] vdogaru commented on #36
See [pull request 51](https://github.com/quarks-edge/quarks/pull/51)

[2016-02-25 00:25] vdogaru commented on #7
Add an Eclipse .project file to ~/git/quarks with the following contents seems to work in my environment:

[code]

In an empty Eclipse workspace you can import "_quarks" and all the nested Java projects if you do:

[code]

[2016-02-25 00:35] vdogaru commented on #36
No more stack traces in https://travis-ci.org/quarks-edge/quarks/builds/111627902

[2016-02-25 15:20] dlaboss commented on #36
Re: that build results file, why do tests, e.g., DirectJobTest, still generate slf4j complaints like the following?  I thought an slf4j impl jar inclusion had been added to the build harness for samples, etc?

[code]

[2016-02-25 15:44] ddebrunner commented on #36
@dlaboss I would guess that the unit tests do not include the samples jar in the classpath. The unit tests include the minimal classpath to help ensure no incorrect dependencies.

The unit tests could have the slf4j impl jar included.

[2016-02-25 15:55] ddebrunner commented on #7
I wonder if we can add a top-level project to the repo?

I'm no expert on Eclipse projects, and I'd thought that it didn't like nested projects, but obviously not the case.

So would @vdogaru 's top-level project work with the import directly from git process that is documented in DEVELOPMENT.md

[2016-02-25 19:16] mnwone opened #53 "runiotfSensors.sh script - documentation on required parameter and IoTf setup"
-bash-4.2$ ./runiotfsensors.sh
Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: Array index out of range: 0
        at quarks.samples.connectors.iotf.IoTFSensors.main(IoTFSensors.java:39)

I'm looking for information (ex. README)  on how to run runiotfSensor.sh.

Excerpt from runiotfSensor.sh:
.# Runs the Sample MQTT Publisher or Subscriber
#

.# ./runmqttsample.sh pub
.# ./run

[2016-02-25 20:21] dlaboss commented on #53
There is a newer version of runiotfSensor.sh, and maybe the sample itself, in the repo that lacks those copy/paste issues.  Not sure if more doc is still required (I'm not the author of the sample).

[2016-02-25 20:22] dlaboss commented on #53
I'm going to close this.  Pls reopen if after getting the latest version there are still issues.

[2016-02-25 20:22] #53 closed, assigned to nobody

[2016-02-25 21:06] dlaboss opened #54 "Add Range analytic utility?"
A common sensor analytic is to filter for values being within a range.  It's common for range values to be initialized from static properties files and/or dynamically set from external sources.

The [Guava Range](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/Range.html) class offers a very convenient way for dealing with ranges.  The Guava jar is significant in s

[2016-02-25 21:44] ddebrunner commented on #31
Module is created with an initial deadband filter.

[2016-02-25 21:44] #31 closed, assigned to nobody

[2016-02-25 23:03] ddebrunner opened #55 "Control Service"
The vision for control service is to allow Quarks and Quarks applications to be controlled remotely from centralized systems, such as start/stop applications and change the polling rate for a periodic source.
In addition applications can register arbitrary control beans that can be registered with the control service.

This issue would fully flesh out the scheme by adding a remote implementation i

[2016-02-26 13:59] home4slc commented on #42
@ddebrunner - I was thinking about this some more.  What about having an option to either 'show tags' or not for the static and oplet kind views and remove the view by altogether for stream tags?  I'd also have an option to select one or more tags, and then a way to  pick 'show all tags'.

[2016-02-26 16:32] dlaboss commented on #47
fixed by merge #49

[2016-02-26 16:32] #47 closed, assigned to dlaboss

[2016-02-26 16:35] kathyssaunders opened #57 "Discussion Question: Why use Quarks"
Recently one of my colleagues attended Spark Summit East and spoke with people about Quarks.  One of the questions he was asked was "Why wouldn't I just write Quarks myself?"  His answer was:
You always could, but Quarks removes the developer from having to write a lot of boiler-place code for things like:
    - Keeping track of the last ten minutes of data, or last _N_ items on a data stream.

[2016-02-26 17:26] ddebrunner commented on #57
Isn't the question: "Why wouldn't I just code the complete application myself, not relying on Quarks?"

I think Quarks is a tool for edge analytics that allows you to be more productive in implementing an application that meets your needs. Quarks provides a consistent data model (streams and windows) and provides useful functionality, aggregations, joins, etc. you can use without having to impleme

[2016-02-26 17:29] mnwone opened #58 "DevelopmentProviderTest - console.war not found & can't load StaticLoggerBinder"
<testcase classname="quarks.test.providers.dev.DevelopmentProviderTest" name="testMetricsEverywhere" time="0.539">
    <error message="java.lang.Exception: console.war not found.  Run &apos;ant&apos; from the top level quarks directory, or &apos;ant&apos; from &apos;console/servlets&apos; to create console.war under the webapps directory." type="java.lang.RuntimeException">java.lang.RuntimeExcepti

[2016-02-26 17:41] kathyssaunders commented on #57
+1 Thanks for the editing of the question and the answer.  I do intend to
update the FAQ, but will wait for a bit to see if there are more comments.

On Fri, Feb 26, 2016 at 9:26 AM, Dan Debrunner notifications@github.com
wrote:

[2016-02-26 20:24] home4slc commented on #58
@mnwone - I've added the slf4j.org logger jar in the console/server/build.xml file and will merge it soon.  With regard to the war file, as the output says, ant must be run from the quarks directory to build the console.war file prior to running any class that uses the console.  Since this class uses DevelopmentProvider it does use the console.

[2016-02-26 20:32] home4slc opened #59 "Add jQuery and jQuery-ui javascript libraries to the console?"
I'd like to start adding a few widgets to the console (dialogs, etc) and also to come up with a consistent look and feel for the console.
If we add jQuery and jQuery-ui js libraries, I believe it would be a good base to do so.
Both libraries have either the MIT license or an MIT license with a few added clauses:

JQuery: https://github.com/jquery/jquery/blob/master/LICENSE.txt
JqueryUI:   http://c

[2016-02-26 20:47] ddebrunner commented on #59
On the licencing issues, if Quarks becomes an Apache incubator then allowed licences would be:

http://www.apache.org/legal/resolved.html#category-a

[2016-02-26 20:49] ddebrunner commented on #59
I think you have the wrong link for JqueryUI

[2016-02-26 21:08] home4slc commented on #59
@ddebrunner thanks for the link to the apache acceptable licenses.  MIT is listed.

For that link for JQuery I was trying to point out the section called "Licenses":

jQuery Foundation projects (code, documentation, and any other materials) are each released under the terms of the individual licenses as noted in the project's repository, or, if no separate license is specified, under the terms of

[2016-02-26 21:16] ddebrunner commented on #59
https://github.com/jquery/jquery-ui/blob/master/LICENSE.txt

[2016-02-26 21:23] ddebrunner commented on #55
See pull request #56

[2016-02-26 22:00] ddebrunner opened #60 "Allow job name to be set when submitting."
Would be the first use of the JSON config object on submit.

[2016-02-26 22:01] home4slc commented on #59
thanks ...

[2016-02-27 00:52] mnwone opened #63 "HttpTest (Windows) AssertionFailedError & load StaticLoggerBinder"
I haven't seen this error on Linux.

[TEST-quarks.test.connectors.http.HttpTest.xml.txt](https://github.com/quarks-edge/quarks/files/149132/TEST-quarks.test.connectors.http.HttpTest.xml.txt)
 <testcase classname="quarks.test.connectors.http.HttpTest" name="testBasicAuthentication" time="10.057">
    <failure message="[]" type="junit.framework.AssertionFailedError">junit.framework.AssertionFailedEr

[2016-02-27 01:31] vdogaru commented on #57
I recently helped a colleague develop a Quarks app and, under time pressure, I wrote several processing steps into a single custom function.  I had to write code to buffer data tuples and process data one buffer at a time. This has quickly become a time sink. I spent more time writing code for managing multiple circular buffers than writing the actual application logic.

I'm writing iteration 2 no

[2016-02-27 04:18] #59 closed, assigned to nobody

[2016-02-27 14:58] ddebrunner commented on #54
Any thoughts on what this would look like?

Could I use a range to specify the in band region for a deadband filter?

[2016-02-27 16:50] ddebrunner commented on #57
@vdogaru indirectly brings up another good point, by using Quarks you can benefit the community by adding features to it as you find a need, such as a reader for '.wav' files. Thus you contribute to the community to other's benefit and in turn benefit from functionality contributed by others.

@vdogaru  Is it possible your colleague can contribute back reader for .wav files?

[2016-02-29 15:42] dlaboss commented on #54
Yup, a Range could be used to specify the in-band region.  Shall I create a pull request with the exact code for evaluation/comment?  Click on the above "simple Range implementation" link to see the current (not tidied up) code.

[code]

[2016-02-29 17:17] ddebrunner commented on #54
Why not take the Guava range implementation?

[2016-02-29 17:54] #43 closed, assigned to nobody

[2016-02-29 18:20] dlaboss commented on #54
pls clarify exactly what you mean by that.

[2016-02-29 18:23] ddebrunner commented on #54
Take the Range.java source from Guava

[2016-02-29 19:14] vdogaru commented on #7
It does. To successfully import the top project, the "Search for nested projects" option in the Eclipse import dialog box should be selected.  This option is selected by default in the Eclipse Mars 1 release so the user does not have to do extra steps to import the top project as well. In other Eclipse versions this option may not be on by default, so the user needs to select it before importing t

[2016-02-29 20:03] vdogaru commented on #57
Great idea, I will ask if he is interested in contributing to Quarks.

[2016-02-29 21:14] dlaboss commented on #54
I've avoided looking at that source (just the javadoc).  Don't know if its self contained.  I guess its licensing [COPYING](https://github.com/google/guava/blob/master/COPYING) allows that as long as we make the necessary attributions, etc?  How would you bundle it / expose it - e.g., in the analytics jar, with its `com.google.common.collect` package name?

[2016-02-29 21:22] dlaboss commented on #7
fixed by merge #65

[2016-02-29 21:22] #7 closed, assigned to nobody

[2016-02-29 23:11] vdogaru commented on #36
[Pull request 66](https://github.com/quarks-edge/quarks/pull/66) adds slf4j binding to Java logging.  This stop unit tests from writing `[junit] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"` on System.err.  Can be verified by running:

[code]

[2016-03-01 04:14] vdogaru commented on #36
https://travis-ci.org/quarks-edge/quarks/builds/112766712

#66 and #67 fix the following issues:
- All JUnit tests run with slf4j configured to write logs through the Java Logging API -- the default configuration is to write logs to System.err.
- Unexpected exceptions caught by Quarks are reported in the logs. A logged exception does not necessarily indicate an uncaught system failure -- connector

[2016-03-01 04:14] #36 closed, assigned to vdogaru

[2016-03-01 19:04] ddebrunner opened #68 "Full Device Scenario"
Talking with a couple of potential users of Quarks a more complete picture of how a device running Quarks might look:

I've started a wiki page here:

https://github.com/quarks-edge/quarks/wiki/Full-Device-Scenario

to flesh it out.

Comments/corrections etc. are welcome.

[2016-03-01 19:20] vdogaru commented on #58
@home4slc @mnwone #66 fixes `Failed to load class "org.slf4j.impl.StaticLoggerBinder"`

[2016-03-01 19:28] vdogaru commented on #63
- #66 fixes `Failed to load class "org.slf4j.impl.StaticLoggerBinder"`
- HttpTest goes against the http://httpbin.org web server for testing requests. I have sometimes seen failures because Quarks could not connect to the test web server.  @mwone Please retest, close issue if tests pass.

[2016-03-02 00:05] ddebrunner opened #69 "timebatchWindowTest failing"
I just pulled from master and now seeing the test fail on a clean clone.

junit.framework.AssertionFailedError
at quarks.test.window.WindowTest.timeBatchWindowTest(WindowTest.java:371)

[2016-03-02 00:11] ddebrunner opened #70 "Windowtest.java & TWindowTest.java has code warnings."
various code warnings show up in Eclipse.

[2016-03-02 01:28] home4slc commented on #42
See pull request #72 for information about what was included in this commit

[2016-03-02 01:28] #42 closed, assigned to home4slc

[2016-03-02 01:29] home4slc commented on #58
Sorry @vdogaru I didn't see your comment, pull request #72 added something to console/server/build.xml that should fix this too.

[2016-03-02 01:29] #58 closed, assigned to nobody

[2016-03-02 13:58] dlaboss commented on #29
Initial delivery merged by #32
- add "ws" support.  ("wss" also works for against servers with non-self-signed certs and no client auth)
- add WebSocketClient API, Jsr356WebSocketClient generic javax.websocket based impl
- add javax.websocket-client and javax.websocket-server JSR356 impls provided by Eclipse Jetty jars.
- update overview-summary connector table and connector use instructions
- add

[2016-03-02 14:15] #69 closed, assigned to wmarshall484

[2016-03-02 14:21] ddebrunner commented on #38
Making this issue just join, move the separate enhanchment to a new issue.

[2016-03-02 14:22] ddebrunner opened #74 "Create a window from another streams's window"
Allows creation of a stream window with the same configuration as an existing window.

// Create a new window with the same configuration as another window
`TWindow<T,Object> window(TWindow<?,?> configWindow);`

[2016-03-02 14:35] ddebrunner commented on #74
I think the signature needs to be:

<K> `TWindow<T,K> window(TWindow<?,?> configWindow, Function<T,K> keyer);`

[2016-03-02 14:36] ddebrunner commented on #38
We can just not add the joinLast convenience method.

[2016-03-02 16:45] ddebrunner opened #75 "Allow batch() option to not process empty windows?"
The current batch implementation will process empty windows when the window is the last N seconds.

I wonder if this is the desired or expected behaviour. I see batching as breaking a stream into batches of tuples, thus processing an empty one doesn't seem to make much sense.

Batch could have an option to allow processing of empty windows, defaulting to false, or just not support it.

Throughts?

[2016-03-02 17:21] dlaboss commented on #75
Doesn't feel like it's worth the addition... though maybe that's just because I haven't had to live with it as it is :-)

I imagine some uses would need to know that nothing was captured during the last N sec window and react as appropriate for the app (e.g., log, publish, generate a special tuple).

Seems clear/natural to expect the `batcher` is called every N sec with whatever tuples arrived dur

[2016-03-02 17:38] ddebrunner commented on #75
I somewhat agree with @dlaboss , but while it's simple to have the isEmpty() it doesn't help reduce cpu cost of potentially many schedules of a task that ends up doing nothing.

Maybe it's a YAGNI, and maybe it's more than just a boolean, but potentially a mode, e.g.:
- Always process empty partition
- Only process the first in a sequence of empty partition.
- Never process empty partition
- ...

[2016-03-02 19:05] vdogaru commented on #75
I agree that implementing this as an empty partition policy is easy to add without breaking compatibility, but I think of handling empty windows as an attribute of the aggregate function rather than of the window.

Assume I want to support multiple aggregate functions triggered by the same window. To do that without extending Quarks, I have to create identical windows for each aggregate function.

[2016-03-02 19:05] ddebrunner opened #76 "Copy Licence file into release bundle."

[2016-03-02 19:06] ddebrunner opened #77 "ant release target broken"
Can't find the quarks.connectors.common.jar.

[2016-03-02 19:14] ddebrunner commented on #75
@vdogaru
?>  To do that without extending Quarks, I have to create identical windows for each aggregate function.

Are you saying that is the case now, or if the empty partition policy was per window?

[2016-03-02 19:28] vdogaru commented on #75
I am saying that adding an empty partition policy per window would force all the aggregates triggered by that window to share the window's policy.

[2016-03-02 19:30] ddebrunner commented on #75
Right, but that doesn't force each aggregation to have its own window. Only ones with different policies.

[2016-03-02 19:37] #77 closed, assigned to ddebrunner

[2016-03-02 20:20] wmarshall484 commented on #75
Currently, each time TWindow.aggregate is called, it creates a new Aggregate<T,U,K> oplet which contains its own Window. So in that sense, each aggregation does have its own window.

[2016-03-02 20:24] wmarshall484 commented on #37
Added with #62

[2016-03-02 20:24] #37 closed, assigned to nobody

[2016-03-02 20:43] ddebrunner commented on #75
@wmarshall484 A mere implementation detail, from the api they use a single window.

The implementation could be changed to have a single oplet for a window.

[2016-03-02 20:47] #76 closed, assigned to ddebrunner

[2016-03-02 20:47] ddebrunner commented on #76
Fixed with #80

[2016-03-02 21:13] ddebrunner opened #82 "Aliases for quarks added control service MBeans?"
With `JobMXBean` it's fairly obvious that its alias for control should be the job name ( #60 ). This would allow a remote entity to start and stop the job by its name.

With an oplet specific control interface like [PeriodicMXBean](https://github.com/quarks-edge/quarks/blob/198a61a3fc6d40b55d1024a2f50fef308da8d486/api/oplet/src/main/java/quarks/oplet/core/mbeans/PeriodicMXBean.java) it's not so ob

[2016-03-02 23:57] ddebrunner commented on #75
Another situation that may not matter for Quarks being on the edge, but when there are thousands of partitions processing empty partitions can add up.

[2016-03-03 00:42] kathyssaunders commented on #57
I've been working on the wording for the FAQ.  How about this:

## Why do I need Quarks, rather than coding the complete application myself?

Quarks is a tool for edge analytics that allows you to be more productive. Quarks provides a consistent data model (streams and windows) and provides useful functionality, such as aggregations, joins, etc.  Using Quarks allows you to take advantage of this f

[2016-03-03 02:50] vlasov01 commented on #57
I'm not aware if there is anything similar that can run on Android.

[2016-03-03 03:12] mikespicer commented on #57
typo missing "to" :  ....... allowing you **to** focus on your application needs.

[2016-03-03 03:30] vdogaru commented on #82
I think tags are useful for denoting group membership. To uniquely identify a topology element we might need something like a name attribute.

Naming or tagging topology elements other than TStream (#39) may require using a lower level API. In the statement `topology.poll(sensorFunction, 1, MINUTES).tag("engineTemp")` tag() applies to the returned TStream rather than the PeriodicSource oplet which

[2016-03-03 04:33] kathyssaunders commented on #57
Thank you, Mike.  I'll fix that before updating.

On Wed, Mar 2, 2016 at 7:12 PM, Mike Spicer notifications@github.com
wrote:

[2016-03-03 12:55] jchailloux opened #85 "Add bluetooth"
Having bluetooth capability.

could we create one that use blue cove ?
http://bluecove.org/bluecove/apidocs/overview-summary.html

[2016-03-03 13:50] ddebrunner commented on #82
@wmarshall484 pointed out to me that in this case the stream is periodic. The fact it's implemented by an oplet is somewhat irrelevant.

We may need a name() method on TStream and other items, so maybe #39 doesn't introduce a Taggble interface, but instead TopologyElement has tag() and name() methods.

Or maybe an Identifable interface that has name() and the proposed Taggable methods from #39

[2016-03-03 16:24] ddebrunner commented on #85
+1 Are you interested in contributing it?

[2016-03-03 16:49] wmarshall484 commented on #85
+1 This would be a great connector to add.

[2016-03-03 17:08] jchailloux commented on #85
Yes

Jérôme CHAILLOUX
Europe IOT - Sr. Technical Field Specialist - Big Data, Linux Advocate
IBM Analytics

Phone: +33 9 64 43 47 43
Cell: +33 6 72 14 20 53
Tie-line: 80 11 74
E-mail: jerome.chailloux@fr.ibm.com

Compagnie IBM France
Siège Social : 17 avenue de l'Europe, 92275 Bois-Colombes Cedex
RCS Nanterre 552 118 465
Forme Sociale : S.A.S.
Capital Social : 657.364.587,00 €
SIREN/SIRET : 552 11

[2016-03-03 17:32] dlaboss opened #86 "fix eclipse "output dir" config to be independent of ant build"
There are annoying interactions between the ant build tooling and eclipse (building/cleaning) resulting from an overlap in some locations of their javac output directories.  Going to change things so they're independent of each other.

Leaving the ant stuff as is: class files under "classes" directories - one or more per Java-Project.

Going to change the eclipse build configs to start using the d

[2016-03-03 17:33] home4slc commented on #85
+1 as well - that would be great.

[2016-03-03 17:33] home4slc commented on #86
Thanks Dale - this has been an annoyance to me too. ;-)

[2016-03-03 17:37] jchailloux commented on #85
What about the bluecove license and Quarks ?

[2016-03-03 17:41] ddebrunner commented on #85
@jchailloux According to the legal section of http://bluecove.org/ the main technology is licensed under Apache License v2 which is fine. So it seems that a connector written against the api would be find.

There are some separate GPL modules on bluecove that could not be included at Apache.

[2016-03-03 19:48] dlaboss commented on #82
I'm unclear on how various things name and advertise controllable things.  I'm just tossing out a bunch of questions w/o thinking a lot about each... :-)

So under the covers an oplet assoc w/TStream.poll() would advertise (register) a control with a name like `<streamName>.pollFrequency` and its value would be JSON with attrs `period` and `unit`?
As alluded to above things like a `TWindow` would

[2016-03-03 21:58] ddebrunner commented on #82
It registers a control service MXBean that is similar to a JMX MXBean, the methods on the MXBean can be called as operations.

If it implemented Identifable then it would have a name() method.

Since they are more likely to be application specific, the application would pick a logical name.

One approach would for the utility method to expose names, another possibility might be some mapping scheme

[2016-03-03 23:09] ddebrunner opened #89 "Eclipse warnings in connectors/wsclient-javax-websocket"
The Dummy file causes a warning in eclipse.

Any reason a different style to the other Dummy tests was taken?

[2016-03-04 14:30] dlaboss commented on #82
In some (many?) cases the application will have already assigned a logical name to the generated stream.  It feels like it would be helpful for a function to be able to learn its associated oplet/stream name so it could just append to it  (similar to the `<streamName>.pollFrequency` case).  No?

In the case where a TStream API user wanted/needed to give an oplet a name (e.g., an oport independent

[2016-03-04 14:47] dlaboss commented on #89
Sorry, hadn't noticed that among the Window test warnings :-)
I'll revert it to the DummyTest.java scheme.  I originally switched because it seemed like a dummy java file and generated class were overkill for the goal of having something in src/test/java to make the ant scripts work.  I had a bundle (javax.websocket-server) that didn't have any src/main/java code, the jar was just a manifest-class

[2016-03-04 14:51] ddebrunner commented on #82
I think we need to be careful about assuming a 1-1 relationship between a TStream and an oplet.

The topology programming model is TStream and TWindow, oplets are not surfaced at that level.

See https://github.com/quarks-edge/quarks/wiki/Quarks-Etiao-Runtime specifically the graph transformation section.

Oplets are really the physical implementation of the graph, the logical view is streams.

[2016-03-04 14:52] ddebrunner commented on #89
The DummyTest were intended as a  placeholder until tests were actually written.

[2016-03-04 16:14] ddebrunner opened #92 "Add pub-sub model between jobs"
Allow a running job to publish tuples that can be subscribed to by other running jobs.

Method in TStream:

`<U  super/extends T> TSink<T> publish(String topic, Class<U> streamType)`

Method in Topology

<T> TStream<T> subscribe(String topic, Class<T> streamType)`

This would be tied with a `PublishSubscribe` service that can be added to a provider.

Initial implementation would allow pub-sub with

[2016-03-04 16:15] ddebrunner commented on #92
This is related to #68

[2016-03-04 17:55] dlaboss commented on #92
Why extend `Topology` and `TStream` instead of just defining a new connector?

[2016-03-04 18:20] ddebrunner commented on #92
Good question.

My first reaction is that publish/subscribe is inherently part of the provider/runtime, therefore not a connector.

But a connector may make more sense, I'll think about it for a while.

[2016-03-04 18:23] ddebrunner opened #94 "SingleMetricAbstractOplet always creates a metric name"
This code (line 42) creates a metric name even when metrics are not enabled, and thus the name is never used. Basically a minor footprint overhead that is not needed.

[code]

[2016-03-04 18:33] mnwone opened #95 "MqttOpenTest.testConnectRetrySub AssertionFailedError"
The test output file is from Windows.
[TEST-quarks.test.connectors.mqtt.MqttOpenTest.xml.txt](https://github.com/quarks-edge/quarks/files/159182/TEST-quarks.test.connectors.mqtt.MqttOpenTest.xml.txt)

Here's an excerpt:
<testcase classname="quarks.test.connectors.mqtt.MqttOpenTest" name="testConnectRetrySub" time="15.246">
    <failure message="11bd1462_bb66_44ff_a1c1_4045e01339ff_testConnectRetry

[2016-03-04 22:27] #60 closed, assigned to nobody

[2016-03-04 23:06] ddebrunner opened #99 "Heads-up - Code upload to ASF early next week (2016/03/07)."
FYI

Now that the CCLA has be received by the ASF the code can be uploaded to the ASF repo.

I'm planning to do this early next week (March 7th or 8th).

There may still be a short period while this Quarks github repo is the one to use for active development, until we understand the process of making changes using git at the ASF (and mirroring of the repo to github). Any changes made in that perio

[2016-03-05 00:10] home4slc opened #100 "detecting zero tuples flowing through a stream for the purpose of tagging"
I'm writing a sample where I know a stream (Stream<JsonObject>) has no tuples, however, it's a rigged example, and I'm trying to demonstrate that there is a way to test for no tuples flowing.

If no tuples are flowing, then I want to tag it in a different way then if tuples are flowing.

I talked with @vdogaru and we got it to the point where if I put a counter on the stream that I suspect has no

[2016-03-05 00:47] ddebrunner commented on #92
Pull request #98 implements pub/sub using the connector style suggested by @dlaboss

[2016-03-05 00:51] ddebrunner opened #101 "Separate eclipse projects for high-level providers?"
I'm adding a new provider that has a dependency on a connector, but this causes a circular dependency error in Eclipse because some of the connector tests depend on DirectProvider.

With Eclipse preferences I can change this to jut be a warning, I'm not sure that's the correct approach. I think everyone would have to do that.

Seems like the simplest approach is to not add the new provider to the

[2016-03-05 01:08] vdogaru opened #102 "Start over Quarks when Quarks crashes"
Thinking of a mechanism which restarts the Quarks application if the JVM running Quarks hangs or closes unexpectedly.  These options come to mind:
- Write a script which checks for the pid of the jvm process running Quarks and restarts Quarks if the pid is not there. Run the script every minute using a cron job.
- Use inittab or systemd to run the Quarks application as a system service. Both syste

[2016-03-05 14:44] ddebrunner commented on #86
Any change of a pull request before/on Monday?

[2016-03-05 15:11] ddebrunner commented on #101
Set this up and it works, nested separate project called 'iot_provider'.

[2016-03-05 23:03] dlaboss commented on #86
I created and merged pull #103
I recommend the following after updating your workspace with this merge:

[code]

[2016-03-06 18:35] vdogaru opened #105 "Restart topology on uncaught exception"
A mechanism to start over the topology when the topology crashes.

If a Quarks thread abruptly terminates due to an uncaught exception the runtime shuts down.  There are several alternatives for preventing the Quarks application from becoming unavailable:
1. Restart the failed oplet. In the ETIAO runtime, a source and all downstream oplet invocations (up to an Isolate) will execute in the same thr

[2016-03-06 18:42] vdogaru opened #106 "Incomplete docs for ActivityStreams.mapOnUIThread()"
Incomplete sentence in the method description.

[2016-03-06 18:57] vdogaru opened #107 "Provide job health info"
- Last error(s) for job
- Last time job was healthy/unhealthy

[2016-03-06 19:19] vdogaru opened #109 "Notification on recovery from failure"
The user would like to be notified when Quarks recovers from a failure.  This may include the following mechanisms:
1. The system can provide a health attribute via JMX and change notifications would be supported for this attribute (ties with #107).
2. Have monitor service which keeps track of job restarts in case of a crash (#105).  A system application periodically polls the monitor service and

[2016-03-07 00:24] kathyssaunders commented on #57
Merged pull request https://github.com/quarks-edge/quarks.documentation/pull/52 to add the new FAQ

[2016-03-07 00:24] #57 closed, assigned to nobody

[2016-03-07 00:59] ddebrunner commented on #105
It might be simpler to stop & restart the whole topology.

Restarting the sequence of oplets is tempting, but may run into issues when the oplet is fed by mutliple threads, e.g. a join.

[2016-03-07 00:59] ddebrunner commented on #106
Fixed.

[2016-03-07 00:59] #106 closed, assigned to nobody

[2016-03-07 01:01] ddebrunner commented on #100
Currently tags are not a runtime concept, but are set at topology declaration time. So I'm not sure if it would be possible to detect no tuples flowing and then dynamically tag it.

[2016-03-07 01:01] #101 closed, assigned to nobody

[2016-03-07 19:26] vdogaru opened #117 "Support custom metrics"
The current system provides the following metrics: tuple counter (number of tuples since topology submission) and tuple meter (mean throughput and moving averages).

Using other metrics from the Java metrics package is currently supported. What is needed is sample code to demonstrated this, maybe in the form of:
- Oplets wrapping Java metrics, which can be inserted into the application topology.
-

[2016-03-07 19:34] ddebrunner opened #118 "Heads-up: quarks-edge/quarks repo is now read-only"
Changes need to be made against:

https://git-wip-us.apache.org/repos/asf/incubator-quarks.git

See

https://git-wip-us.apache.org/

[2016-03-07 23:36] home4slc commented on #118
@ddebrunner - thanks for the heads up.
I believe I successfully cloned the repository at incubator-quarks.git.

Are we supposed to open up a JIRA issue at Apache to track the commit?
Are we supposed to wait until GitHub is set up so we can make pull requests?

Thanks,
Susan

[2016-03-08 04:25] xuanyue202 commented on #117
I believe currently from console side, Quarks only support the display of Meter and Counter metrics. If you register a Gauge, for example, into Quarks, there would be no entry in the Console to show it. Second, it is also very hard in the current framework to define custom MBeans. Say if I want to have two meters in  one oplet to monitor two different KPIs, I would like to define my own MBeans to

[2016-03-08 18:16] ddebrunner commented on #99
Code is now uploaded to ASF - details at:

https://issues.apache.org/jira/browse/QUARKS-1

[2016-03-08 18:16] #99 closed, assigned to nobody

[2016-03-08 18:39] ddebrunner commented on #100
Seems like a peek operator with a timed window should be able to detect if no tuples are flowing. It could then set a metric indicating if tuples are flowing or not.

[2016-03-08 20:08] vdogaru commented on #117
True, Quarks provides meter and counter metrics encapsulated in Oplet implementations and an extension point (SingleMetricAbstractOplet).

These metrics are exposed via JMX and directly from the metric registry.  For example, here is the ObjectName of a tuple meter:
`quarks.providers.development:jobId=JOB_0,opId=OP_10,name=TupleCounter.quarks.oplet.JOB_0.OP_10,type=metric.counters`.  You can parse

[2016-03-08 20:29] vdogaru commented on #107
Moved to JIRA: https://issues.apache.org/jira/browse/QUARKS-12

[2016-03-08 20:29] #107 closed, assigned to nobody

[2016-03-08 22:04] vdogaru commented on #102
Moved to https://issues.apache.org/jira/browse/QUARKS-13

[2016-03-08 22:04] #102 closed, assigned to nobody

[2016-03-08 22:04] vdogaru commented on #105
Moved to https://issues.apache.org/jira/browse/QUARKS-8

[2016-03-08 22:04] #105 closed, assigned to nobody

[2016-03-08 22:05] vdogaru commented on #109
Moved to https://issues.apache.org/jira/browse/QUARKS-14

[2016-03-08 22:05] #109 closed, assigned to nobody

[2016-03-08 22:05] #117 closed, assigned to nobody

[2016-03-08 22:25] jms90h5 opened #119 "Quarks on Raspberry PI"
I've been thinking about picking up a Raspberry Pi 3 specifically to try running Quarks on it.   Has anyone tried running Quarks on one of the earlier versions?  Did you have any issues?

Given the utility of Quarks for edge devices, a Raspberry Quark Pi would seem like a really logical dessert. :)

[2016-03-09 00:39] wmarshall484 commented on #119
Yup! I've used Quarks on the Raspberry Pi 2B with success. The Raspberry Pi3 looks like a great piece of hardware. If you try it, let us know how it handles!

[2016-03-09 00:47] ddebrunner commented on #119
I ran the demo shown in this presentation on the older Raspberry Pi B (car OBD-II data, K-Means clustering, connection to Streams through Watson IoT Platform):

https://ibm.box.com/s/j50ktov45r28cyj6lkeu6habzmpwapdp

The only requirement is to have a JVM, and now Raspbian includes a Java 8 vm by default.

[2016-03-09 00:48] ddebrunner commented on #119
A Raspberry Pi Zero would be interesting to try ...

[2016-03-09 01:51] vdogaru commented on #94
Moved to https://issues.apache.org/jira/browse/QUARKS-17

[2016-03-09 14:30] jms90h5 commented on #119
Although I was originally thinking about the new 3 for a more performance demanding application, I agree about the zero for a super low cost edge or embedded device.  Since William already verified that Quarks can work (I'm assuming on Raspbian) now I just need to find some place that has some in stock outside of bundles.

[2016-03-14 18:11] #92 closed, assigned to ddebrunner

[2016-03-23 13:31] #94 closed, assigned to vdogaru

[2016-03-23 13:43] ddebrunner commented on #119
I've heard someone has run it successfully on a Raspberry Pi 3.

[2016-03-23 13:43] #119 closed, assigned to nobody

[2016-03-23 13:44] #55 closed, assigned to ddebrunner

[2016-03-23 20:54] vdogaru commented on #40
Moved to https://issues.apache.org/jira/browse/QUARKS-68

[2016-03-23 20:54] #40 closed, assigned to nobody

[2016-03-23 20:57] vdogaru commented on #39
Issue moved to https://issues.apache.org/jira/browse/QUARKS-69

[2016-03-23 20:57] #39 closed, assigned to nobody

[2016-03-23 20:59] vdogaru commented on #41
Issue moved to https://issues.apache.org/jira/browse/QUARKS-70

[2016-03-23 20:59] #41 closed, assigned to nobody

[2016-03-23 21:01] vdogaru commented on #85
Moved to https://issues.apache.org/jira/browse/QUARKS-71

[2016-03-24 12:34] #86 closed, assigned to dlaboss

[2016-03-24 12:37] dlaboss commented on #89
Fixed by #104 and #86

[2016-03-24 12:40] #29 closed, assigned to dlaboss

[2016-03-24 12:43] dlaboss commented on #46
Moved to https://issues.apache.org/jira/browse/QUARKS-72

[2016-03-24 12:43] #46 closed, assigned to nobody

[2016-03-24 12:45] dlaboss commented on #48
Moved to https://issues.apache.org/jira/browse/QUARKS-61

[2016-03-24 12:45] #48 closed, assigned to nobody

[2016-03-24 20:51] dlaboss commented on #54
Moved to https://issues.apache.org/jira/browse/QUARKS-78

[2016-03-24 20:51] #54 closed, assigned to nobody

[2016-03-24 20:57] dlaboss commented on #89
@ddebrunner pls close this.

[2016-03-24 20:59] dlaboss commented on #95
@mnwone pls close this.  I know Kathey was getting clean runs on Windows recently.  A new Apache Quarks Jira can be created if this happens again.  Thanks.

[2016-03-25 03:23] #95 closed, assigned to nobody

[2016-04-26 21:49] dlaboss commented on #82
Addressed by Apache Quarks https://issues.apache.org/jira/browse/QUARKS-131, so can close this one.

[2016-12-09 06:34] suhasjk opened #122 "Apache Edgent Error"
Hello Team,
While running a sample "Hello Edgent" program, we are getting the following error in eclipse:
I tried setting classpath, even imported the required slf4j jar files, but no use.
slf4j: failed to load class org.slf4j.impl.staticloggerbinder
slf4j: defaulting to no-operation (nop) logger implementation
slf4j see http //www.slf4j.org/codes.html#staticloggerbinder for further details
Hello

[2018-04-19 05:01] cgokulnath opened #123 "quarks in production"
Is Quarks ready for production environments?. If not, when it would be available for production?

[2018-04-20 16:20] ddebrunner commented on #123
@cgokulnath Quarks has been renamed Edgent and moved to Apache.

http://edgent.apache.org/

[2018-04-20 16:20] #123 closed, assigned to nobody

[2019-07-07 01:40] WWWeed commented on #68
welcome.